body{
	width: 100%;
	height: 100%;
}
table{
	border-radius: 5px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid #999;
}
table:hover{
/*	box-shadow: 2px 2px 2px #999;*/
}
th,td{
	text-align: center;
	color: #444444;
}
.table-bordered > thead > tr > th,.table-bordered > thead > tr > th{
	vertical-align: middle;
}
tr:hover{
	background: #F5F5F5;
}
.formborder{
	padding: 20px;
	margin-top: 20px;
	 border: 1px solid #dad5d5;
	width: 100%;
	transition: all .5s;
	border-radius: 5px;
	background-color: #fdf9f9;
}
.formborder:hover{
	box-shadow: 0px 0px 3px #0d7b58; 
}
h1{
	 font-size: 25px;
  	text-align: center;
  	font-weight: 500;
  	color: #444444; 
  	margin-bottom: 15px;
}
a{
	text-decoration: none;
}
a:hover{
	color: #fff;
	text-decoration: none;
	
}
.adiv{
	padding: 7px 14px;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	color: #fbeded;
	cursor: pointer;
}
.a1{
	background: #19a97b;
	color: #fbeded;
	transition: all .5s;
}
.a1:hover{
	background: #18b985 ;
	color: #ffff;
}
.a2{
	background: #f15151;
	/*opacity: 0.7;*/
	margin-left: 20px;
	transition: all .5s;
}
.a2:hover{
	opacity: 1;
	background-color: #ed4040;
	color: #fff;
}
.a3{
	background: #168ffa;
	opacity: 0.8;
	transition: all .5s;
}
.a3:hover{
	opacity: 1;
	color: #fff;
}
.a4{
	background: #f15151;
	opacity: 0.8;
	transition: all .5s;
}
.a4:hover{
	opacity: 1;
	color: #fff;
}
.a5{
	background: #19a97b;
	opacity: 0.8;
	transition: all .5s;
}
.a5:hover{
	opacity: 1;
	color: #fff;
}
 /*搜索框7*/
 	div.search {
	padding: 10px 0;
}
form {
	position: relative;
	width: 300px;
	/*display: inline;*/
}
.ipt1, button {
	border: none;
	outline: none;
}
.ipt1{
	width: 100%;
	height: 42px;
	padding-left: 13px;
}
button {
	height: 42px;
	width: 42px;
	cursor: pointer;
	position: absolute;
}

.bar7 form { height: 42px; }
.bar7 .ipt1 {
		width: 250px;
        border-radius: 5px;
		border: 2px solid #19a97b;
		transition: .3s linear;
		/*float: right;*/
}
.bar7 .ipt1:focus { width: 300px; border: 2px solid #18b985;}
.bar7 button {
		background: none;
		top: -2px;
		right: 50px;
		transition: .3s linear;
}
.bar7 button:before{
       	content: "\f002";
		font-family: FontAwesome;
		color: #324b4e;
}
/*弹窗*/																				
.windows{
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0,0.2);*/
	position: absolute;
	left: 0;
	top: 0;
	/*display: none;*/
}
.con{
	left: 50%;
	top: 40%;
	width: 392px;
	/*height: 450px;*/
	margin-left: -175px;
	margin-top: -225px;
	background: #fff;
	position: fixed;
	border: 1px solid #dad5d5;
	border-radius: 5px;
	padding: 20px 25px;
	padding-top: 10px;
}
.con:hover{
	box-shadow: 0px 0px 3px #0d7b58; 
}
select{
	outline: none;
	padding: 5px;
	border-radius: 5px;
	width: 90px;
	margin-left: -85px;
}
td>input{
	height: 30px;
}
.look{
	height: 33px;
	margin-left: 10px;
	margin-top: 8px;
	display: inline-block;
}
/* 弹窗背景 */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* 图片 */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* 文本内容 */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* 添加动画 */
.modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* 关闭按钮 */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 小屏幕中图片宽度为 100% */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}
.uu{
	background: rgba(0,0,0,0.7);
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 999;
}

.fenye{
	text-align: center;
}
.pagination > li > a:hover {
	color: #18b985;
}
.pagination > li > a {
	color: #000000;
}
.pagination > .active > a {
	cursor: pointer;
}
.hoveras:hover{
	color: #18b985 !important;
	background-color: #eee !important;
	border-color: #ddd !important;
}
.noclick{
	cursor: default;
}
.noclick:hover{
	color: #000 !important;
	background-color: #fff !important;
	border: 1px solid #ddd !important;
}