.tables section .top-title {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: #444444; }
.tables section .button-title {
  font-size: 15px;
  font-weight: 500;
  color: #777; }
.tables section a .result {
  background-color: #19a97b;
  color: #fbeded;
  width: 70px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px; }
  .tables section a .result:hover {
    color: #fff;
    background-color: #18b985; }
.tables .resultform {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #dad5d5;
  transition: all 0.5s;
  background-color: #FDF9F9; }
  .tables .resultform:hover {
    box-shadow: 0px 0px 3px #0d7b58; }
  .tables .resultform .table {
    border: 1px solid #999; }
    .tables .resultform .table th, .tables .resultform .table td {
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
    .tables .resultform .table thead {
      background-color: #F3F3F3; }
    .tables .resultform .table tbody tr td input {
      background-color: #19a97b;
      color: #fbeded;
      width: 70px;
      height: 30px;
      cursor: pointer;
      border-radius: 5px; }
      .tables .resultform .table tbody tr td input:hover {
        color: #fff;
        background-color: #18b985; }
/*# sourceMappingURL=result.css.map */
/*搜索框7*/
div.search {
  padding: 10px 0;
}
form {
  position: relative;
  width: 300px;
  /*display: inline;*/
}
.ipt1, button {
  border: none;
  outline: none;
}
.ipt1{
  width: 100%;
  height: 42px;
  padding-left: 13px;
}
button {
  height: 42px;
  width: 42px;
  cursor: pointer;
  position: absolute;
}

.bar7 form { height: 42px; }
.bar7 .ipt1 {
  width: 250px;
  border-radius: 5px;
  border: 2px solid #19a97b;
  transition: .3s linear;
  /*float: right;*/
}
.bar7 .ipt1:focus { width: 300px; border: 2px solid #18b985;}
.bar7 button {
  background: none;
  top: -2px;
  right: 50px;
  transition: .3s linear;
}
.bar7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}

.fenye{
  text-align: center;
}
.pagination > li > a:hover {
  color: #18b985;
}
.pagination > li > a {
  color: #000000;
}
.pagination > .active > a {
  cursor: pointer;
}
.hoveras:hover{
  color: #18b985 !important;
  background-color: #eee !important;
  border-color: #ddd !important;
}
.noclick{
  cursor: default;
}
.noclick:hover{
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}