@charset "UTF-8";
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  overflow: hidden;
  font-family: '微软雅黑', sans-serif;
  font-size: 14px; }

#container {
  height: 100%;
  min-height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg.png); }
  #container .ball-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
    opacity: 0;
    background-color: #f3d99b; }
  #container .canvas {
    position: absolute; }
  #container .page {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none; }
  #container .page1 {
    height: 90%;
    width: 90%;
    overflow: hidden;
    z-index: 8;
    display: block; }
    #container .page1 .page1-logo {
      position: absolute;
      width: 80px;
      height: 20px;
      /* left: 4%; */
      left: -30%;
      top: 2%;
      transition: all 0.5s; }
    #container .page1 .page1-h1 {
      position: absolute;
      right: 10%;
      /* top: 1%;  */
      top: 110%; }
    #container .page1 .page1-new {
      width: 70%;
      height: 8%;
      display: block;
      margin: 0 auto;
      margin-top: 13%;
      position: relative;
      top: 110%; }
    #container .page1 .page1-wei {
      margin: 0 auto;
      width: 90%;
      height: 15%;
      margin-top: 4%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
    #container .page1 .page1-wei-img1 {
      display: block;
      /* width: 100%;
      height: 100%; */
      width: 0;
      height: 0;
      transition: all 0.7s; }
    #container .page1 .page1-hi {
      position: absolute;
      display: block;
      width: 9%;
      height: 30%;
      top: 38%;
      left: 63%;
      transform: scale(0); }
    #container .page1 .page1-top {
      width: 100%;
      height: 13%;
      position: relative; }
    #container .page1 .page1-dear {
      width: 33%;
      height: 70%;
      /* margin-left: 15%;  */
      margin-left: -35%;
      transition: all 0.6s; }
    #container .page1 .page1-dou {
      position: absolute;
      left: 53%;
      opacity: 0;
      transform: rotate(-90deg);
      transition: all 0.5s; }
    #container .page1 .page1-welcome {
      display: inline-block;
      padding: 10px 10px;
      position: absolute;
      /* right:10%; */
      right: -40%;
      top: -25%;
      line-height: 30px;
      transition: all 0.6s; }
    #container .page1 .page1-center {
      width: 70%;
      height: 30%;
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
    #container .page1 .page1-person {
      display: block;
      width: 0;
      height: 0;
      transition: all 0.6s; }
    #container .page1 .page1-center-img {
      position: absolute;
      transition: opacity 0.5s;
      opacity: 0; }
    #container .page1 .page1-dong {
      top: -10px;
      left: -20px; }
    #container .page1 .page1-feng {
      right: -20px;
      bottom: -10px; }
    #container .page1 .page1-dong2 {
      top: -10px;
      right: -10px; }
    #container .page1 .page1-jian {
      left: -20px;
      bottom: -10px; }
    #container .page1 .page1-say {
      width: 80%;
      line-height: 30px;
      padding: 10px 10px;
      margin: 0 auto;
      margin-top: 40%;
      text-align: center;
      transition: all 0.6s; }
    #container .page1 .page1-di {
      display: block;
      width: 80%;
      height: 7%;
      margin: 0 auto;
      /* margin-top: -1%; */
      margin-top: 5%;
      transition: all 0.6s; }
  #container .page2 {
    z-index: 7;
    height: 50%;
    width: 90%;
    top: 20%; }
    #container .page2 .page2-content {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute; }
      #container .page2 .page2-content p {
        padding: 0 10px;
        text-indent: 2em;
        text-space: 1px;
        word-break: break-all;
        color: #333;
        font-size: 12px;
        line-height: 20px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #container .page3 {
    height: 50%;
    width: 90%;
    overflow: hidden;
    top: 20%;
    z-index: 6;
    /* .page3-top */
    /*.page3-bottom*/ }
    #container .page3 .page3-top, #container .page3 .page3-bottom {
      position: relative;
      height: 50%; }
    #container .page3 .page3-flex {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.8s;
      line-height: 100%; }
    #container .page3 .page3-img {
      position: absolute;
      transition: all 0.8s;
      opacity: 0; }
    #container .page3 .page3-rele-1 {
      /* top: 50%; */
      left: 60%;
      top: 200%; }
    #container .page3 .page3-rele-2 {
      /* top: 0%; */
      left: 40%;
      top: 200%; }
    #container .page3 .page3-rele-3 {
      /* top: 80%; */
      right: 0%;
      top: 200%; }
    #container .page3 .page3-webQ {
      left: 5%;
      /* top: 10%; */
      top: 200%; }
    #container .page3 .page3-yi {
      right: 10%;
      /* top: 5%; */
      top: 200%; }
    #container .page3 .page3-rele-4 {
      /* top: 30%; */
      left: 60%;
      top: 200%; }
    #container .page3 .page3-rele-5 {
      /* top: 77%; */
      left: 40%;
      top: 200%; }
    #container .page3 .page3-rele-6 {
      /* top: 10%; */
      left: 10%;
      top: 200%; }
    #container .page3 .page3-java {
      /* top: 20%; */
      left: 70%;
      top: 200%; }
    #container .page3 .page3-ui {
      /* top: 40%; */
      left: 10%;
      top: 200%; }
    #container .page3 .page3-future {
      /* top: -40%;  */
      left: 30%;
      font-weight: 500;
      font-size: 20px;
      top: 200%; }
    #container .page3 p {
      position: absolute;
      top: 16%; }
  #container .page4 {
    width: 90%;
    height: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5; }
    #container .page4 .page4-img {
      display: block;
      position: absolute;
      width: 0%;
      height: 0%;
      opacity: 0; }
    #container .page4 .page4-1 {
      top: 10%;
      left: 0%;
      transform: rotate(-38deg);
      z-index: 1; }
    #container .page4 .page4-2 {
      top: 50%;
      left: 5%;
      transform: rotate(-40deg);
      z-index: 2; }
    #container .page4 .page4-3 {
      top: 5%;
      left: 60%;
      transform: rotate(20deg);
      z-index: 3; }
    #container .page4 .page4-4 {
      top: 40%;
      left: 60%;
      transform: rotate(20deg);
      z-index: 4; }
    #container .page4 .page4-5 {
      top: 20%;
      left: 30%;
      transform: rotate(0deg);
      z-index: 5; }
    #container .page4 .spin {
      transform: rotate(360deg); }
  #container .page5 {
    width: 90%;
    height: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto; }
    #container .page5 .page5-box {
      animation: 4s ease 0s normal none infinite running rotate;
      height: 200px;
      margin: 0 auto;
      position: relative;
      transform-style: preserve-3d;
      /* margin-top: 20%; */
      margin-top: 110%;
      width: 200px;
      transition: all 1s;
      opacity: 0; }
    #container .page5 .page5-face {
      backface-visibility: hidden;
      background-color: #fae48c;
      height: 200px;
      opacity: 1;
      position: absolute;
      width: 200px; }
    #container .page5 .page5-1 {
      background-image: url(../images/1.jpg);
      background-size: 100% 100%;
      transform: rotateX(90deg) translateZ(100px); }
    #container .page5 .page5-2 {
      background-image: url(../images/2.jpg);
      background-size: 100% 100%;
      transform: translateZ(100px); }
    #container .page5 .page5-3 {
      background-image: url(../images/3.jpg);
      background-size: 100% 100%;
      transform: rotateY(90deg) translateZ(100px); }
    #container .page5 .page5-4 {
      background-image: url(../images/4.jpg);
      background-size: 100% 100%;
      transform: rotateY(180deg) translateZ(100px); }
    #container .page5 .page5-5 {
      background-image: url(../images/5.jpg);
      background-size: 100% 100%;
      transform: rotateY(-90deg) translateZ(100px); }
    #container .page5 .page5-6 {
      background-image: url(../images/6.jpg);
      background-size: 100% 100%;
      transform: rotateX(-90deg) translateZ(100px) rotate(180deg); }
@keyframes rotate {
  100% {
    transform: rotateY(720deg) rotateX(360deg); } }
  #container .page6 {
    height: 50%;
    width: 90%;
    overflow: hidden;
    top: 20%;
    z-index: 3; }
    #container .page6 .page6-container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    #container .page6 .clause {
      position: absolute;
      width: 80%;
      height: 20%;
      margin: 0 auto;
      left: 0;
      right: 0; }
    #container .page6 .page6-img {
      position: absolute;
      top: calc(50% - 8px);
      left: -40%;
      opacity: 0; }
    #container .page6 .page6-content {
      position: absolute;
      display: block;
      width: 100%;
      top: 10%;
      font-size: 18px;
      left: 150%;
      opacity: 0; }
    #container .page6 .page6-line {
      position: absolute;
      bottom: 0;
      background-color: #000;
      height: 1px;
      width: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      opacity: 0; }
    #container .page6 .clause1 {
      top: 0; }
    #container .page6 .clause2 {
      top: 20%; }
    #container .page6 .clause3 {
      top: 40%; }
    #container .page6 .clause4 {
      top: 60%; }
    #container .page6 .clause5 {
      top: 80%; }
  #container .page7 {
    position: absolute;
    height: 50%;
    width: 80%;
    top: 25%;
    left: 10%;
    z-index: 2; }
    #container .page7 .page7-container {
      position: absolute;
      width: 100%;
      /*height: 100%;*/
      height: 400px;
      padding-top: 1%;
      overflow: hidden; }
#container .page7 .page7-input {
    position: absolute;
    width: 80%;
    height: 6.5%;
    background-color: white;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: 0;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: 0;
  color: #858585;
}
#container .page7 .page7-input1 {
    top: 1%; }
#container .page7 .page7-input2 {
    top: 82px; }
#container .page7 .page7-input3 {
    top: 124px; }
#container .page7 .page7-input4 {
    top: 166px; }
/*#container .page7 .page7-input5 {*/
    /*top: 68%; }*/
#container .page7 .page7-input6 {
    top: 210px;
    color: white;
    font-weight: 500;
    background-color: #fa0; }
  #container .page8 {
    position: absolute;
    height: 50%;
    width: 80%;
    top: 25%;
    left: 10%;
    z-index: 1; }
    #container .page8 .page8-container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    #container .page8 .page8-title-container {
      position: absolute;
      margin: 0 auto;
      display: inline;
      opacity: 0;
      width: 50%;
      left: 0;
      right: 0;
      text-align: center;
      top: 100%; }
    #container .page8 .page8-title {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      color: red; }
    #container .page8 .page8-img {
      width: 220px;
      height: 220px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 16%;
      transform: scale(0) rotate(0deg); }
    #container .page8 a {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 5px;
      box-shadow: 1px 1px 2px 2px #ccc;
      text-decoration: none;
      font-weight: 500;
      color: white; }
  #container .rolls {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow: hidden; }
    #container .rolls .roll {
      position: absolute; }
    #container .rolls .top-roll, #container .rolls .bottom-roll {
      height: 4px;
      width: 96%;
      background-image: url("../images/up-down.png"); }
    #container .rolls .left-roll, #container .rolls .right-roll {
      height: 96%;
      width: 4px;
      background-image: url("../images/both-sides.png"); }
    #container .rolls .top-roll {
      top: 2%;
      left: -50%;
      opacity: 0;
      animation: top-roll 1s infinite ease-out; }
    #container .rolls .bottom-roll {
      top: 98%;
      left: 50%;
      animation: bottom-roll 1s infinite ease-out; }
    #container .rolls .left-roll {
      left: 2%;
      top: 50%;
      animation: left-roll 1s infinite ease-out; }
    #container .rolls .right-roll {
      left: 98%;
      top: 0;
      animation: right-roll 1s infinite ease-out; }
    #container .rolls .rect {
      position: absolute;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      border: 2px solid black; }
    #container .rolls .rect {
      position: absolute;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      border: 2px solid black; }
    #container .rolls .fz {
      animation: fz 1.2s ease 1; }
    #container .rolls .arrow {
      position: absolute;
      height: 32px;
      width: 32px;
      bottom: 3%;
      left: calc(50% - 15px);
      animation: arrow-ani 1.5s infinite ease-out; }
    #container .rolls .title {
      position: absolute;
      width: 80%;
      height: 10%;
      z-index: 1000;
      margin: 0 auto;
      top: 10%;
      left: 0;
      right: 0; }
      #container .rolls .title .title-left {
        position: absolute;
        top: 20%;
        left: 0;
        height: 28px;
        width: 24px;
        opacity: 0; }
      #container .rolls .title .title-right {
        position: absolute;
        margin: 0;
        left: 90%;
        top: 20%;
        width: 44px;
        height: 29px;
        opacity: 0; }
      #container .rolls .title .title-center {
        position: absolute;
        height: 90%;
        width: 70%;
        top: 5%;
        left: 15%;
        line-height: 100%; }
        #container .rolls .title .title-center .title-center-img {
          position: absolute;
          width: 100%;
          height: 100%;
          background: url("../images/back.png") 0 5px no-repeat;
          background-size: 100% 100%;
          top: 300%;
          opacity: 0; }
      #container .rolls .title .title-center-left {
        position: absolute;
        left: 5%;
        top: 30%;
        opacity: 0; }
      #container .rolls .title .title-center-right {
        position: absolute;
        left: 80%;
        opacity: 0; }
      #container .rolls .title .title-center-center {
        position: absolute;
        height: 100%;
        width: 60%;
        left: 20%; }
        #container .rolls .title .title-center-center .title-center-center-h1 {
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          /*margin: 0 auto;*/
          /*top: 30%;*/
          /*opacity: 0;*/
          font-size: 24px;
          /*left: -100%; */
        }
    #container .rolls .footer {
      position: absolute;
      width: 80%;
      height: 189px;
      margin: 0 auto;
      bottom: 10%;
      left: 0;
      right: 0; }
      #container .rolls .footer .footer-left {
        position: absolute;
        width: 50%;
        left: 0;
        bottom: 0;
        transform: scale(0);
        opacity: 0; }
      #container .rolls .footer .footer-right {
        position: absolute;
        width: 60%;
        right: 0;
        bottom: 20%;
        opacity: 0; }
  #container .video {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 36px;
    width: 36px;
    background: url("../images/music_icon.png") #959492 no-repeat 9px;
    border: 1px solid white;
    border-radius: 50%;
    z-index: 9999; }

.play {
  animation: ring 2s linear infinite; }

.pause {
  animation-play-state: paused; }

@media screen and (min-width: 310px) and (max-width: 360px) {
  #container .page2 .page2-content p {
    font-size: 14px;
    line-height: 26px;
    } }
@media screen and (min-width: 361px) and (max-width: 413px) {
  #container .page2 .page2-content p {
    font-size: 14px;
    line-height: 26px; } }
@media screen and (min-width: 414px) {
  #container .page2 .page2-content p {
    font-size: 14px;
    line-height: 26px; } }
@keyframes page1-hi {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes left-monkey {
  0% {
    opacity: 0;
    top: 900%; }
  85% {
    top: -50%; }
  100% {
    top: 30%;
    opacity: 1; } }
@keyframes right-monkey {
  0% {
    opacity: 0;
    top: 900%; }
  85% {
    top: -50%; }
  100% {
    top: 80%;
    opacity: 1; } }
@keyframes arrow-ani {
  0% {
    bottom: 2%;
    opacity: 0;
    filter: opacity(0); }
  75% {
    bottom: 8%;
    opacity: 1;
    filter: opacity(100); }
  76% {
    opacity: 0;
    filter: opacity(0); }
  100% {
    bottom: 2%;
    opacity: 0;
    filter: opacity(0); } }
@keyframes ring {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes top-roll {
  0% {
    left: -50%; }
  80% {
    opacity: 1; }
  100% {
    left: 2%;
    opacity: 1; } }
@keyframes bottom-roll {
  0% {
    left: 50%; }
  100% {
    left: 2%; } }
@keyframes left-roll {
  0% {
    top: 50%; }
  100% {
    top: 2%; } }
@keyframes right-roll {
  0% {
    top: -50%; }
  100% {
    top: 2%; } }
@keyframes fz {
  0% {
    transform: perspective(130px) rotateY(90deg); }
  30% {
    transform: perspective(130px) rotateY(-20deg); }
  50% {
    transform: perspective(130px) rotateY(10deg); }
  75% {
    transform: perspective(130px) rotateY(-10deg); }
  100% {
    transform: perspective(130px) rotateY(0deg); } }
@media all and (max-width: 340px) {
  body {
    font-size: 12px; } }
@-webkit-keyframes doudong {
  50% {
    top: -6%; }
  75% {
    top: 4%; }
  100% {
    top: 1%; } }
@-webkit-keyframes suofang {
  25% {
    width: 2%;
    height: 6.6%; }
  50% {
    width: 4%;
    height: 13.2%; }
  75% {
    width: 6%;
    height: 20%; }
  100% {
    width: 9%;
    height: 30%; } }

/*# sourceMappingURL=scroll-page.css.map */
.ODiv{
  width: 50px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  position: relative;
  top: -10px;
}
select{
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 6px;
}
.nice-select{

    width: 80%;

    padding-left: 10px;

    height: 6.5%;

    font-size: 18px;

    position: absolute;

    color: #858585;

    background: #fff url(./../images/a2.jpg) no-repeat right center;
    top: 45px;
    margin-left: 8%;

}

.nice-select input{
  display: block;
  width: 100%;
  height: 86.5%;
  /*line-height: 38px;*/
  border: 0;
  outline: 0;
  background: none;
  position: absolute;
}

.nice-select ul{

    width: 83%;

    display: none;

    position: absolute;

    left: -1px;

    top: 12px;

    overflow: hidden;

    background-color: #fff;

    max-height: 150px;

    overflow-y: auto;

    border: 1px solid #999;

    border-top: 0;

    box-shadow: 0 3px 5px #999;

    z-index: 9999;

}

.nice-select ul li{
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0 10px;
  cursor: pointer;
}

.nice-select ul li.on{
  background-color: #e0e0e0;
}
.uuu{
    padding:10px;
    background-color: orange;
    /*opacity: 0.7;*/
    position: fixed;
    left: 34%;
    top: 43%;
    color: #fff;
    border-radius: 5px;
    z-index: 999;
    transition: all 0.8s ease-out 0.3s;
    animation: haha 1.5s;
}
@keyframes haha{
    0%{
        transform: scale(0,0);
        transform:rotate(-90deg);
        opacity: 0.4;
    }
    50%
    {transform: scale(0,0);
        transform:rotate(45deg);
        opacity: 0.8;
    }
    100%{
        transform: scale(1,1);
        transform:rotate(0deg);
        opacity: 1;
    }
}